<section id="DiscoverMoti">

    <a id="discoverMoti"></a> <!-- ancre nommée -->
    <div id="textePage3Title"><strong>{{productName}} is an interactive friend stimulating & engaging children in educational activities</strong></div>
    <div id="moti"><img src="img/motii.png" alt="photo de Moti"></div>
    <div id="textePage3"><p>{{productName}} is entirely based on sensory stimulation: it talks, plays music, rolls around, emits lights, vibrations… Using the demonstrated power of robotics, {{productName}} can adapt to help children progress on  a large range of skills.</p></div>
   <div id="cloud"><img src="img/cloud.png" alt="mots clés"</div>
    <div id="blocs">
        <div id="interaction"><h3>Interaction</h3><p>Because without interaction there is no progress, {{productName}} facilitates interaction through stimulation & play</p></div>
        <div id="autonomy"><h3>Autonomy</h3><p>{{productName}}  brings time structure & motivate children to complete daily tasks by gamifying every situation and guide them to success</p></div>
        <div id="therapistTool"><h3>Therapist Tool</h3><p>{{productName}} is designed according to validated comportemental & relationships methods (ABA, TEACCH…)</p></div>
    </div> <!-- fin du bloc -->

</section>
