<section id="landing">

	<div class="banner">

		<div class="video">
			<div class="modal">
				<label for="video-leka">
					<div class="modal-trigger">
						<a class="video-img">
							<i class="fa fa-youtube-play fa-3x"></i>
						</a>
					</div>
				</label>
				<input class="modal-state" id="video-leka" type="checkbox" />
				<div class="modal-fade-screen">
					<div class="modal-inner">
						<iframe width="640" height="360" src="https://www.youtube.com/embed/VuszKcoJWBY?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="cta">

			<img class="moti-logo" src="/img/moti.png" alt=""/>

			<h2>Say hello to {{productName}}</h2>

			<p>The 1st robotic friend designed to help exceptional children live exceptional lives</p>
			<!-- <p>A new kind of friend to help exceptional children live exceptional lives</p> -->

			<p>Interested?</p>

			<a href="#" class="button">Join us to make it possible!</a>

		</div>

	</div>

</section>

<section id="about-Brio">

</section>

<section id="OurMission">    
    
    <a id="ourMission"></a> <!-- ancre nommée -->
    <div id="logoPage2"><img src="img/logo2.png" alt="dessin enfant avec Moti"></div>
    <div id="texte1"><h2>At Leka we believe in play as a path to achieve radical improvements in exceptional children education !</h2></div>
    <div id="photoL"><div id="photo"><img src="img/Ladislas.png" alt="photo Ladislas de Toldi en conférence"> </div>
    <div id="texte2"><p>‘‘If playing is for children the first path to help them discover the world, socialize and progress, it is exactly THE SAME for children with disabilities !</p><p>So why is there no appropriate fun & educative solution for these children ?</p><p>Based on scientific recommendations and therapy methods Leka is designing validated & playful tools to help parents and therapists adress children development needs.</p><p>To do so our focus is on Technology & Research. Our belief is in evidence based medicine !</p><p>A child in a hundred is living at the margin of our world, it's time we let them in !’’</p><p>Ladislas de Toldi, CEO of Leka</p></div></div> 
    
</section>


<section id="DiscoverMoti">

    <a id="discoverMoti"></a> <!-- ancre nommée -->
    <div id="textePage3Title"><strong>{{productName}} is an interactive friend stimulating & engaging children in educational activities</strong></div>
    <div id="moti"><img src="img/motii.png" alt="photo de Moti"></div>
    <div id="textePage3"><p>{{productName}} is entirely based on sensory stimulation: it talks, plays music, rolls around, emits lights, vibrations… Using the demonstrated power of robotics, {{productName}} can adapt to help children progress on  a large range of skills.</p></div>
   <div id="cloud"><img src="img/cloud.png" alt="mots clés"</div>
    <div id="blocs">
        <div id="interaction"><h3>Interaction</h3><p>Because without interaction there is no progress, {{productName}} facilitates interaction through stimulation & play</p></div>
        <div id="autonomy"><h3>Autonomy</h3><p>{{productName}}  brings time structure & motivate children to complete daily tasks by gamifying every situation and guide them to success</p></div>
        <div id="therapistTool"><h3>Therapist Tool</h3><p>{{productName}} is designed according to validated comportemental & relationships methods (ABA, TEACCH…)</p></div>
    </div> <!-- fin du bloc -->

</section>


<section id="Research">

 <div id="seenIn">
        <ul>
            <li>Seen in:</li>
            <li><a href="#">The Guardian</a></li>
            <li><a href="#">Le Monde</a></li>
            <li><a href="#">RoboHub</a></li>
        </ul>
     </div> <!-- fin de seenIn -->
     <div id="research1"><h3>Through Testing we already showed high interest, we are gonna show progress !</h3></div> <a id="research"></a> <!-- ancre nommée -->
     <div id="research2"><h4>From day one we have spent a lot of time with children to better understand their needs and test our prototype. We are now mentored by a closed scientific advisory board</h4></div>
     <div id="bubbles"><img src="img/bubble.png"></div>
     <div id="research3"><h5>Our main goal is to demonstrate by proofs that robotic is an effective tool to reduce anxiety and enhance autism therapies. We want to provide a robotic toy that behind its fun and playing proprieties include functionnalities proven to be helpful for those in the autism spectrum. You can learn more about evidence-based practices guidelines on the website of the [National Professional Development Center on Autism Spectrum Disorder](http://autismpdc.fpg.unc.edu/evidence-based-practices).</h5></div>
      <div id="research4"><h3>First tests with 70 children showed they are : More interested in the robot than with classic toys, Motivated to play all along the 15 minutes session, Communicative & joyful when playing with the robot.</h3></div>
    
</section>

    

<section id="Team">

<div id="comments"><p>« We had a <strong>great time </strong>last Wednesday with {{productName}}. Matthieu really<strong> enjoyed playing with it.</strong> Once back home, he <strong>deliberately shared his joy</strong> with his father, brothers and sisters.</p><p>The way he deliberately talked about {{productName}} at home is the<strong> first effect of your work on Matthieu. Thank you.</strong> » Matthieu’s mother</p></div>
     <div id="staff"><img src="img/staff.png"</div> <a id="team"></a> <!-- ancre nommée -->
         <!-- prévoir de modifier l'image -> passage sur une partie moins statique avec photo de chaque personne+ biographie -->
         
</section>



<section id="Contact">

    <a id="contact"></a> <!-- ancre nommée -->
    <div id="leka"><img src="img/logo3.png"></div>
    <div id="footer"><p>Sign up to our mailing list to help us make it possible ! Contact us at hello@leka.io <br></p></div>
    
</section>













<section id="usecases">

</section>

<section id="story">

</section>

<section id="team">

</section>

<section id="contact">

</section>
